<div class="panel">
    <div class="flex xl:flex-row flex-col xl:items-center gap-4 justify-between">
        <h2 class="font-semibold xl:text-lg text-base text-white">Smart Contract: {{ contractAnalysis?.contractName }}</h2>

        <div class="flex md:flex-row flex-wrap md:items-center items-start md:gap-6 gap-4">

            <div class="flex items-center border border-aqua bg-qdarkblue-light rounded-md overflow-hidden">
                <span class="flex items-center justify-center bg-aqua py-2 md:px-4 px-2">
                    <icon-desktop class="w-5 h-5 text-qdarkblue" />
                </span>

                <p class="font-semibold md:text-sm text-xs text-nowrap text-aqua px-4 py-2">{{
                    this.contractAnalysis?.securityAudit?.securityTests?.length }} generated cases will be executed</p>
            </div>

            <button class="flex gap-2 items-center btn btn-outline-dark text-white/75 cursor-pointer" (click)="download()">
                <icon-download class="w-4 h-4" />
                <span>Download</span>
            </button>
    
            <app-primary-button type="button" [disabled]="false" [loading]="false" text="Execute"
                (click)="goToExecuteCases()">
                <icon-play-circle class="w-5 h-5" />
            </app-primary-button>
        </div>
    </div>

    <ng-container *ngIf="contractAnalysis">
        <ul class="flex flex-col gap-4 mt-8">
            <li *ngFor="let methodUI of contractMethods">
                <app-accordion [title]="methodUI.subtitle" [totalTests]="methodUI.testCases.length">
                    <icon-cube *ngIf="methodUI.method.type != 'FUNCTION'" accordion-icon
                        class="size-5 text-accent"></icon-cube>
                    <icon-monitor *ngIf="methodUI.method.type == 'FUNCTION'" accordion-icon
                        class="size-5 text-accent"></icon-monitor>
                    <div accordion-body>
                        <ng-datatable [rows]="methodUI.testCases" [columns]="cols" [showPageSize]="false"
                            [pagination]="false" skin="whitespace-nowrap bh-table-hover">

                             <ng-template slot="actualRisk" let-value="data">
                                <p class="max-w-[350px] truncate">{{ value.actualRisk }}</p>
                            </ng-template>

                            <ng-template slot="description" let-value="data">
                                <p class="max-w-[350px] truncate">{{ value.description }}</p>
                            </ng-template>
                            <ng-template slot="action" let-value="data">
                                <div class="text-center">
                                    <button type="button" class="text-accent flex items-center gap-2 border"
                                        (click)="showDetails(value)">
                                        <icon-eye class="size-5" />
                                        <span class="text-xs">View Details</span>
                                    </button>
                                </div>
                            </ng-template>
                        </ng-datatable>
                    </div>
                </app-accordion>
            </li>
        </ul>
    </ng-container>
</div>

<app-custom-modal [open]="showModal" [title]="selectedSecurityTestCase?.methodName!" (closeModal)="showModal = false">
    {{ selectedSecurityTestCase | json }}
</app-custom-modal>